<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="0.1" package="AndroidGL.AndroidGL" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="25" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme" Icon="@mipmap/android_gl_icon" icon="@mipmap/android_gl_icon"></application>
	<uses-feature android:glEsVersion="0x00030000" android:required="true" />
</manifest>